@charset "utf-8";
@import url('reset.css');

html {
  background-color: #000;
  color: #fff;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#wrap {
  position: absolute;
  width: 100%;
  max-width: 50.8rem;
  min-height: 100%;
  overflow: hidden;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#wrap.main {
  background-color: #000;
  padding-bottom: 5rem;
}
/* #wrap.sub {
  background-color: #999;
} */
#container {
  position: relative;
  width: 100%;
  /* background: url('../images/sapporo.jpg') no-repeat;
  background-size: 50.8rem; */
}

/* Common */
.inner {
  padding: 0 1.5333rem;
}

.content .sec_wrapper {
  padding: 1.5333rem 0;
  border-top: 0.9333rem solid #000;
}
/* .content .top_image {
  background: url('../images/sapporo.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  max-width: 50.8rem;
  position: fixed;
} */
/* todayBlock */
.today .content {
  border-top: 0 none;
  padding: 1.5333rem;
  background-color: #000;
}
.tody_scroll {
  padding-bottom: 1.5333rem;
  margin: 1.5333rem -1.5333rem 0;
  overflow-y: hidden;
  overflow-x: auto;
  transform: translateZ(0);
  font-size: 0;
}
.today.content .tody_scroll {
  padding-bottom: 1.5333rem;
  margin: 1.5333rem -1.5333rem 0;
  overflow-y: hidden;
  overflow-x: auto;
  transform: translateZ(0);
  font-size: 0;
}
.today.content .tody_scroll::-webkit-scrollbar {
  display: none;
}
.today.content .tody_scroll ul {
  padding: 0 1.5333rem;
  /* overflow: visible; */
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.today.content .tody_scroll li {
  overflow: hidden;
  vertical-align: top;
  margin-left: 0.9333rem;
  display: inline-block;
  width: 20rem;
  border-radius: 0.7333rem;
  box-shadow: 0 0.5rem 1.7rem 0 rgba(0, 0, 0, 0.09);
  color: #fff;
  background: url('../images/sapporo.jpg') no-repeat;
  background-size: cover;
}
.today.content .tody_scroll li:first-child {
  margin-left: 0;
}

/* footer */
#footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  color: #fff;
  width: 100%;
  max-width: 50.8rem;
}
.tab_container {
  position: relative;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #292929;
  border-radius: 0.7333rem 0.7333rem 0 0;
  padding: 0 2.5333rem;
}
.tab_container div {
  height: 5rem;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.BackGround {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
