@charset "utf-8";
@import url('reset.css');

html {
  /* background-color: #000; */
  color: #fff;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#wrap {
  position: absolute;
  width: 100%;
  max-width: 50.8rem;
  min-height: 100%;
  overflow: hidden;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#wrap.main {
  background-color: #000;
  padding-bottom: 5rem;
}
/* #wrap.sub {
  background-color: #999;
} */
#container {
  position: relative;
  width: 100%;
  margin-bottom: 0.9333rem;
  /* background: url('../images/sapporo.jpg') no-repeat;
  background-size: 50.8rem; */
}

/* Common */
.inner {
  padding: 0 1.5333rem;
}

.content .sec_wrapper {
  padding: 1.5333rem 0;
  /* border-top: 0.9333rem solid #000; */
}

.title {
  font-size: 2rem;
}

.sec_title {
  font-size: 2rem;
}

.loading {
  background: url('../images/icon/loading3.gif') no-repeat;
  background-position: center;
  background-size: cover;
  width: 5rem;
  height: 5rem;
  z-index: 999;
}

.goback {
  position: absolute;
  z-index: 55;
  width: 4rem;
  height: 4rem;
  background: url('../images/icon/right_dic_fff.svg') no-repeat;
  background-position: center;
  background-size: cover;
  top: 2rem;
  left: 2rem;
  transform: rotate(180deg);
}
/* .content .top_image {
  background: url('../images/sapporo.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  max-width: 50.8rem;
  position: fixed;
} */

/* HomeBlock */
/* .today .content {
  border: 1px solid red;
  border-top: 0 none;
  padding: 1.5333rem;
  background-color: #000;
} */
.ani_logo {
  background: url('../images/icon/logo1.png') no-repeat;
  background-size: cover;
  background-position: center;
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  animation: subtitle 3s ease forwards;
  opacity: 0;
  z-index: 55;
}

.ani_title {
  height: 3rem;
  z-index: 55;
  font-size: 2rem;
  width: max-content;
  animation: subtitle 3s ease forwards;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translateX(-50%);
}
@keyframes subtitle {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.home_scroll {
  /* padding-bottom: 1.5333rem; */
  margin: 1.5333rem -1.5333rem 0;
  overflow-y: hidden;
  overflow-x: auto;
  transform: translateZ(0);
}
/* .today.content .home_scroll {
  padding-bottom: 1.5333rem;
  margin: 1.5333rem -1.5333rem 0;
  overflow-y: hidden;
  overflow-x: auto;
  transform: translateZ(0);
  font-size: 0;
} */
.home_scroll::-webkit-scrollbar {
  display: none;
}
.home_scroll ul {
  padding: 0 1.5333rem;
  /* overflow: visible; */
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.home_scroll li {
  height: 26rem;
  overflow: hidden;
  vertical-align: top;
  margin-left: 0.9333rem;
  display: inline-block;
  width: 20rem;
  border-radius: 1.7333rem;
  color: #fff;
  padding-left: 0.9333rem;
  position: relative;
}
.home_scroll li:first-child {
  margin-left: 0;
}

/* freeBlock */

.free_category {
  position: absolute;
  font-size: 1.4rem;
  bottom: 10rem;
  z-index: 40;
  font-weight: 300;
}

.free_title {
  position: absolute;
  font-size: 1.8rem;
  bottom: 6rem;
  z-index: 40;
  font-weight: 500;
}
/* banner */
.banner {
  background-color: #26aae1;
  height: 8rem;
  /* border-radius: 0.9333rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner.img {
  font-size: 1.5rem;
  color: #fff;
  background: url('../images/banner2.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5rem;
}
.banner.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.bannerLogo {
  background-image: url('../images/icon/logo1-1.png');
  background-position: center;
  background-size: cover;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.banner.text p {
  font-size: 1.3rem;
  text-align: center;
}
.filter {
  width: 100%;
  position: absolute;
  height: 40rem;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 212, 255, 0) 100%
  );
  z-index: 30;
}
.block_filter {
  position: absolute;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 212, 255, 0) 70%
  );
  z-index: 30;
  height: 26rem;
  width: 20rem;
  left: 0;
  transition: 0.5s;
}
.block_filter:hover {
  opacity: 0;
}
.contents_lock {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  border-radius: 50%;
  background: url('../images/icon/lock2.svg') no-repeat;
  background-position: center;
  background-size: 2rem;
  border: 1.2px solid #fff;
}

/* category */
.category {
  width: 100%;
}
.category ul {
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: center;
}
.category ul li:nth-child(1) {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.category ul li:nth-child(2) {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.category ul li:nth-child(1) div {
  /* border: 1px solid red; */
  /* background-color: #26aae1; */
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-position: center;
  transition: 0.4s;
}
.category ul li:nth-child(1) div:hover {
  transform: scale(1.1);
}
.category ul li:nth-child(1) div:nth-child(1) {
  background: url('../images/category-01-01.jpg') no-repeat;
  background-size: cover;
}

.category ul li:nth-child(1) div:nth-child(2) {
  background: url('../images/category-01-04.jpg') no-repeat;
  background-size: cover;
}

.category ul li:nth-child(1) div:nth-child(3) {
  background: url('../images/category-01-03.jpg') no-repeat;
  background-size: cover;
}

.category ul li:nth-child(1) div:nth-child(4) {
  background: url('../images/category-01-02.jpg') no-repeat;
  background-size: cover;
}

.category ul li:nth-child(2) div {
  font-size: 1.35rem;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  font-weight: 600;
  /* background-color: #26aae1; */
  display: flex;
  justify-content: center;
}

.categoryTitle {
  font-size: 4rem;
}

/* category Page */

.categoryNav {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}
.categoryNav a {
  width: max-content;
  /* background-color: blue; */
  height: 5rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  align-items: center;
}
.categoryNav a.active {
  color: #26aae1;
}

.categorylist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list {
  display: inline-block;
  width: 45%;
  /* height: auto; */
  /* border: 1px solid red; */
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list div {
  width: 100%;
  border-radius: 0.7333rem;
  background-color: #000;
  overflow: hidden;
  height: 20rem;
  box-shadow: 0 0.5rem 1.7rem 0 rgba(0, 0, 0, 0.09);
}
.categorylist_btn {
  width: 100%;
  max-width: 50.8rem;
  height: 5rem;
  background-color: red;
  text-align: center;
  font-size: 1.5rem;
  line-height: 5rem;
  border-radius: 0.7333rem;
}
.categorylist_title {
  margin-top: 0.5rem;
  width: 100%;
  height: 3rem;
  display: block;
  font-size: 1.2rem;
  padding-left: 0.3rem;
  line-height: 3rem;
}
.categorylist_text {
  width: 100%;
  height: 2rem;
  display: block;
  font-size: 1rem;
  opacity: 0.6;
  line-height: 2rem;
  padding-left: 0.3rem;
}
/* player */
.plyer .content {
  width: 100%;
  max-width: 50.8rem;
  padding: 0 1.5333rem;
  border-top: 0 none;
  background-color: #000;
}

.plyerTitle {
  font-size: 4rem;
}

/* my */
.my .content {
  width: 100%;
  max-width: 50.8rem;
  padding: 0 1.5333rem;
  border-top: 0 none;
  background-color: #000;
}

.myTitle {
  font-size: 4rem;
}

.login {
  height: 18rem;
  border: 2px solid #26aae1;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.4rem;
}
.login:hover {
  background-color: #26aae1;
}
.myblock {
  height: 5rem;
  border: 2px solid #999;
  border-radius: 0.8rem;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.myblock span:nth-child(2) {
  display: block;
  width: 3rem;
  height: 3rem;
  background: url('../images/icon/right_dic.svg') no-repeat;
  background-position: center;
}

.myblock:hover {
  border: 2px solid #fff;
  background-color: #fff;
  color: #000;
}

/* footer */
#footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  color: #fff;
  width: 100%;
  max-width: 50.8rem;
}
.tab_container {
  position: relative;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  border-radius: 0.7333rem 0.7333rem 0 0;
  padding: 0 2.5333rem;
}

/* .tab_container div {
  height: 5rem;
  background-color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

.footerIcon {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 60%;
  /* border: 1px solid red; */
  background-position: center;
}

.footerIcon.active svg {
  fill: #26aae1;
}

.footerIcon svg {
  fill: #fff;
  transition: all 0.5s;
}

.BackGround {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* popup */

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.modal_inner {
  width: 100%;
  max-width: 50.8rem;
  min-height: 100%;
  overflow: hidden;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.modal_content {
  width: 30rem;
  height: 20rem;
  background-color: #26aae1;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

#popup_login.pop {
  display: block;
}
/* play */

.play_content {
  position: absolute;
  z-index: 55;
  width: 100%;
}

.play_content.title {
  height: 7rem;
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15rem;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  flex-direction: column;
}
.play_content.title span {
  font-size: 2rem;
  margin-top: 2rem;
  color: #fff;
  opacity: 0.6;
  transition: 0.5s;
}
.play_content.title span:hover {
  opacity: 1;
}
.play_content.text {
  height: 15rem;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40rem;
  font-size: 1.2rem;
  word-break: break-word;
  letter-spacing: 0.2rem;
  color: #fff;
  opacity: 0.6;
  transition: 0.5s;
  text-align: center;
}
.play_content.text:hover {
  opacity: 1;
}

.play_background {
  position: fixed;
  width: 100%;
  max-width: 50.8rem;
  height: 100vh;
}

.button {
  width: 100%;
  height: 7rem;
  position: absolute;
  left: 50%;
  top: 30rem;
  transform: translateX(-50%);
  z-index: 55;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button div {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  margin-right: 3rem;
  cursor: pointer;
  transition: 0.4s;
}
.button div:hover {
  transform: scale(1.1);
}
.button div:last-child {
  margin-right: 0;
}

.player_modal {
  width: 95%;
  max-width: 47.8rem;
  height: 7rem;
  /* position: absolute; */
  position: fixed;
  background-color: #26aae1cc;
  z-index: 999;
  bottom: 6rem;
  border-radius: 0.7333rem;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: row;
  align-items: center;
  display: none;

  /* justify-content: space-between; */
}
.player_modal.pop {
  display: flex;
}
/* bookmark (playList) */

.nodata {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding-bottom: 8rem;
  font-size: 2rem;
  flex-direction: column;
  position: fixed;
  max-width: 50.8rem;
}
.nodata button {
  width: 16rem;
  height: 4rem;
  font-size: 1.5rem;
  background-color: #26aae1;
  margin-top: 3rem;
  border-radius: 6rem;
}
